/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do body */
body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.intro {
    display: block;
    margin: 20px;
}

.hidden {
    display: none;
}

.painel {
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #9b59b6;
}

.mensagem {
    margin-top: 20px;
    font-size: 1.2em;
}

.coracao {
    margin-top: 20px;
    font-family: monospace;
    white-space: pre-wrap;
    color: red;
    font-size: 1.5em;
    line-height: 1.2;
}

button {
    padding: 10px 20px;
    background-color: #9b59b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8e44ad;
}
